.container {
    height: 90vh;
    width: 100%;
    margin: 5%;
    padding: 2%; /* Maybe change from percent to rem */
    position:absolute;
  }
  .cell {
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 4rem;
  }
  .cell-1 {
    background: deepskyblue;
  }
  .cell-2 {
    background: orangered;
  }
  .cell-3 {
    background: royalblue;
  }
  .cell-4 {
    background: gold;
  }
  .cell-5 {
    background: blueviolet;
  }
  .cell-6 {
    background: limegreen;
  }
  .cell-7 {
    background: coral;
  }
  .cell-8 {
    background: lightseagreen;
  }
  .cell-9 {
    background: maroon;
  }
  .grid{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px 20px;
    display: grid;
    grid-gap: 20px 20px;
  }
  .triangle-left {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 100px solid red;
    border-bottom: 50px solid transparent;
    z-index: 100;
    position:absolute;
  }
  .triangle-right {
    position:absolute;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid red;
    border-bottom: 50px solid transparent;
    z-index: 100;
  }

  .triangle-row1 {
    left: 50px;
    top: 300px;
  }
  .triangle-row2 {
    left: 400px;
    top: 6rem;

  }
  .triangle-row3 {
    left: 3rem;
    top: 9rem;

  }

 