/* Full-width input fields */
.input[type=text], .input[type=password] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 26px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size:16px;
  }

  /* Set a style for all buttons */
.popup-button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 26px;
  border: none;
  cursor: pointer;
  width: 90%;
  font-size:20px;
  }
  .popup-button:hover {
  opacity: 0.8;
  }

  /* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
  }
  .avatar {
  width: 200px;
  height:200px;
  border-radius: 50%;
  }

  /* The Modal (background) */
.modal {
  display:none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content Box */
  .modal-content {
  background-color: #fefefe;
  margin: 4% auto 15% auto;
  border: 1px solid #888;
  width: 40%;
  padding-bottom: 30px;
  }
  
  


/* .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }

  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

  .popupDisplay {
    top: -72px;
    width: 500px;
    height: 460px;
    position: relative;
    z-index: 1000;
  }
  .popupDisplayLogin {
    top: -72px;
    width: 500px;
    height: 370px;
    position: relative;
    z-index: 1000;
  }
  .textInput,
  .emailinput {
    width: 485px;
  }
  
  #parentPopup{
    display:flex;
    align-items:center;
    justify-content:center;
  }
  #userPopup {
    visibility: hidden;
    overflow: hidden;
    top: calc(15%);
    position: fixed;
    border-style: solid;
    border-width: 2px;
    
  } 
  #opaque {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: black;
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.popupX {
  color: #fff;
  background-color: #000;
  width: 100%;
  border-width:0px;
  position: relative;
  z-index: 1000000;
}
#target{

  position: relative;
  z-index:100000;
}
  */