.user_pages {
  z-index: 100000;
  background: #00cc66;
  font-size:20px;
  padding: 5px;

}

.br-users { /* may not have cross browser support */
  display: block;
  padding-top: 20px;
  content: "";


}

.input-text{
  display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    font-size:5000px;
}
.input-box{
  display: inline-block;
  float: left;
}
.profile-section{
  background-color:green;
  margin-top:10px;
  border-radius:0px 100px 100px 0px;
  margin-left:100px;
  float:left;
  padding-right:100px;
}