{% extends "users/useless.html" %} {% block content %} 

<!-- modal section-->
<div class="modal-content">

        <a class="action-button navbs babylon-anch" href="#">Babylon</a>
        <div id="close-button" class="close" onClick="popupVisible()">+</div>
    <form id = "login-form" method="post"  action="{% url 'login' %}">
        {% csrf_token %}
        {% for field in form %}
        <br class="br-users"/>
        <div class="textbox-loc textbox-decor">
            {{field.label_tag}}
        </div>
        {{field}}
        {% endfor %}
        <!--<input type="text" placeholder="Username" class="textbox-loc">
        <input type="text" placeholder="Password" class="textbox-loc">-->
        <button type="submit" action="{% url 'login' %}" id="login_button" class="login-button a-fix">Login</button>
        <a class="signup-hyperlink"  action="{% url 'register' %}"  id = "register-sender" href = "">Sign up</a>
        <a href="#"></a>
    </form>
</div>

<script type="text/javascript">
    $("#register-sender").click(function(e){
        console.log("Here")
        ajax($(this), e, "go");
    });
    $("#login-form").submit(function(e){
      var form = $(this);
      e.preventDefault()
           $.ajax({
               data: form.serialize(),
               url: form.attr('action'),
               type: "POST",
               success: function(data){
                   if($('#bg-modal').html()[0]==data[0])$('#bg-modal').html(data) 
                   else location.reload();
                  },
           });
    })
  </script>
{% endblock content %}













<!-- <div class = "user_pages">
    <form id="login-form" name="login-form" action="{% url 'login' %}">
    {% csrf_token %}
        {% for field in form %}
        <br class="br-users"/>
        <th class = "input-text">{{field.label_tag}}</th>
        <td class = "input-box">
        {{field}}
        </td>
    {% endfor %}
    <br class="br-users"/>
    <button action="{% url 'login' %}">Log In</button>
    
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong class="h5">{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong class= "h5">{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    </form>
    </div>
    <script type="text/javascript">
      $("#login-form").submit(function(e){
        var form = $(this);
        e.preventDefault()
             $.ajax({
                 data: form.serialize(),
                 url: form.attr('action'),
                 type: "POST",
                 success: function(data){ 
                    $('#target').html(data);
                    if ($.isEmptyObject($.find('#login-form')))location.reload();
                  },
             });
      })
    </script> -->

    