{% extends "general/realnavbar.html" %}
{% block content %}
<div>
  <div class="media profile-section">
    <img class="navbs user-icon user-icon-extended" src="{{ user.profile.profile_pic.url }}">
    <div>
      <h2><u>{{ user.username }}</u></h2>
      <p class="text-light">  {{user.profile.description}}</p>
    </div>
  </div>
  <br style="clear:both" />
  <div class = "border-bottom mb-4">Profile Desc</div>
  {% for field in profile %}
  <p>{{field}}</p>
  {% endfor %}
  <form method = "POST" enctype=multipart/form-data>
    {% csrf_token %} <!-- added security -->
    <fieldset class="form-group">
      <legend class = "border-bottom mb-4">Profile Info</legend>
      {{u_form}}
      {{p_form}}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Update</button>
    </div>
  </form>
</div>
{% endblock content %}
