{% extends request.is_ajax|yesno:"users/useless.html,general/realnavbar.html" %} {% block content %}
<div class="modal-content">

    <a class="action-button navbs babylon-anch" href="#">Babylon</a>
    <div id="close-button" class="close" onClick="popupVisible()">+</div>
<form id = "register-form"method="post"  action="{% url 'register' %}">
    {% csrf_token %}
    {% for field in form %}
    <br class="br-users"/>
    <th class = "textbox-loc">{{field.label_tag}}</th>
    <td class = "textbox-loc">
    {{field}}
    </td>
    {% endfor %} 
    <button type="submit" action="{% url 'register' %}" id="login_button" class="login-button a-fix">Register</button>
</form>
</div>

<script type="text/javascript">
  $("#register-form").submit(function(e){
    var form = $(this);
      e.preventDefault()
           $.ajax({
               data: form.serialize(),
               url: form.attr('action'),
               type: "POST",
               success: function(data){
                console.log($('#bg-modal').html())
                console.log(data)
                   if($('#bg-modal').html()[0]==data[0])$('#bg-modal').html(data) 
                   else location.reload();
                  },
           });
    })
</script>
{% endblock content %}
