{% extends request.is_ajax|yesno:"users/useless.html,general/realnavbar.html" %} {% block content %}
<div class = "registerPopup">
<form method="post">
{% csrf_token %}
{% for field in form %}
    <th>{{field.label_tag}}</th>
    <td>
    {{field}}
    </td>
{% endfor %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<button type="submit">Submit</button>
</form>
</div>
{% endblock content %}
