{% load static %}
<!DOCTYPE html>
<head>
<!--    <meta http-equiv="Content-Security-Policy" content=" object-src 'none'; child-src http://localhost:8000">-->

  <title>Galaxy Tournaments</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>

  <script src="{% static 'js/sign-up.js' %}"></script>
  <script src="{% static 'js/nav-dropdown.js' %}"></script>

  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/users.css' %}"
  />
  <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/games.css' %}"
/>
<link
rel="stylesheet"
type="text/css"
href="{% static 'css/navbar.css' %}"
/>
<link
rel="stylesheet"
type="text/css"
href="{% static 'css/waves.css' %}"
/>
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/popup.css' %}"
  />
<body>
  <header>
  {% block navbar %}
  {% endblock navbar %}
  </header>

<div id= "parentPopup">
  <div id="userPopup">
    <div id="opaque"  onClick="Popup()"></div>
    <div id="target"></div>
    <button type="button" onClick="Popup()"class="popupX" aria-label="Close">X</button>
  </div>
  </div>

</body>
