{% extends "general/base.html" %} {% block navbar %}

  
    <nav id="homescreen-banner">
        <a class="action-button navbs babylon-anch" href="{% url 'home' %}">Babylon</a>
        <a class="banner-login navbs" href="{% url 'team' %}">Play</a>
        <a class="banner-login navbs" href="{% url 'games' %}">Games</a>
        <a class="banner-login navbs" href="{% url 'games' %}">News</a>
        <a class="banner-login navbs" href="{% url 'games' %}">Highlights</a>

        {% if user.is_authenticated %}
        <!-- <a class="navbs">{{user.username}}</a> -->
        <img class="navbs user-icon" src="{{ user.profile.profile_pic.url }}" onClick="navDropdown()"></img><!--  HTMLImageElement.onclick=-->
        <div class="dropdown">
          <div id="MyDropdown" class="dropdown-content">
            <a href="{% url 'waves' %}">Waves</a>
            <a href="#">Link 2</a>
            <a href="{% url 'logout' %}">Logout</a>
            </div>
          </div>
        {% else %}
        <img class="navbs user-icon" src="{{ user.profile.profile_pic.url }}" onClick="navDropdown()"></img><!--  HTMLImageElement.onclick=-->
        <div class="dropdown">
          <div id="MyDropdown" class="dropdown-content">
              <!--<input type="submit" name="submit" value="Submit Form" />-->
            <a id="register_press"action="{% url 'register' %}" >Sign Up</a>
            <a id="login_press" action="{% url 'login' %}">Login</a>
            <a href="#">Team</a>
            </div>
          </div>
        {% endif %}
    </nav>
    <div class="page-format"></div>
    <div id="footer"></div>
    
    {% block content %} {% endblock content %}
    {% endblock navbar %}

    

    <!-- </button>
    <div class="" id="navcol-1">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" href="#">First Item</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="#">Second Item</a>
        </li>
        <li class="dropdown nav-item">
          <a
            class="dropdown-toggle nav-link"
            data-toggle="dropdown"
            aria-expanded="false"
            href="#"
            >Dropdown
          </a>
          <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" role="presentation" href="#">First Item</a
            ><a class="dropdown-item" role="presentation" href="#">
            Second Item</a>
              <a class="dropdown-item" role="presentation" href="#">
              Third Item</a
            >
          </div>
          
        </li>
      </ul>
      <span class="navbar-text actions">
      </span></div>
    </div>
  </div>
</nav>

